<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>snapocv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>25908A661D44E5070083CCBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25908A7D1D44E50B0083CCBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25908A881D44E50B0083CCBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
